/node_modules
/storage/*.key
/vendor/*
!.gitignore
!vendor/charlieuki
!vendor/spatie
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode