/node_modules
# /storage/*.key
/vendor/*
!.gitignore
!vendor/charlieuki
!vendor/spatie
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env

# storage/app/public/files/attendance/*
# storage/app/public/files/products/*

# !storage/app/public/files/default/

/public

